body{
    background-color: lightsalmon;
}
div{
    background-color: white;
}
.solid{
    border: 2px black solid;
    margin-right: 40%;
    padding: 10px;
}
.dotted-red{
    border: 2px dotted red;
}
.black-dotted{
    border: 2px dotted black;
    margin-right: 40%;
    padding: 10px;
}
.purple-dotted{
    border: 2px dotted purple;
    margin-right: 40%;
    padding: 10px;
}
.mark-red{
    background-color: red;
}
.mark-purple{
    background-color: palevioletred;
}
#red-font{
    color: red;
}